.div-genreSelect {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-genreSelect p {
    margin: 0;
    margin-right: 10px;
  }
  
  .div-genreSelect li {
    font-size: 12px;
  }