.div-MovieTile-General {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.2s;
  }
  
  .div-MovieTile-Select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  .div-MovieTile-imageContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .div-MovieTile-Select img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    min-height: 343px;
  }
  
  .div-NameYear {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
  }
  
  .p-NameYear-Name {
    font-size: 0.8em;
    margin: 0px 10px 0px 0px;
    width: 13.3em;
  }
  
  .p-NameYear-Year {
    font-size: 0.6em;
    border: 2px solid #f652605b;
    border-radius: 6px;
    padding: 3px 10px;
    align-self: center;
  }
  
  .p-genres {
    font-size: 0.6em;
  }
  
  .div-MovieTile-dots {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 20%;
    height: auto;
    object-fit: fill;
  }
  
  .div-MovieTile-context-menu {
    position: absolute;
    top: 12%;
    right: 18%;
    background-color: #43434394;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .div-MovieTile-context-menu button {
    display: block;
    width: 80px;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .div-MovieTile-context-menu button:hover {
    background-color: #020101;
  }
  