.div-SortControl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .div-SortControl p {
    margin: 0;
    margin-right: 10px;
  }
  
  .div-SortControl ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .div-SortControl li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .div-SortControl .li-selected {
    background-color: #007bff;
    color: #fff;
  }

  .div-SortControl li:hover {
    background-color: #1657c6;
  }